params {
  twas_vcf_1 {
    outdir = "results/"
    gambit_exec_path = "/GAMBIT/bin/GAMBIT"
    }
}


process {
  withName: transform_gwas_vcf {
    container = "quay.io/lifebitai/gwas:1.2dev"
    // Resources
    cpus = 1
    memory = "6.GB"
    disk = "30.GB"
    
    // Error handling
    errorStrategy = "retry"
    maxRetries = "9"
    // Results
  }
}
process {
  withName: add_annotations {
    container = "quay.io/lifebitai/anno:1.0.1"
    // Resources
    cpus = 1
    memory = "6.GB"
    disk = "30.GB"
    
    // Error handling
    errorStrategy = "retry"
    maxRetries = "9"
    // Results
  }
}
process {
  withName: ptwas_scan {
    container = "quay.io/lifebitai/ptwas:0.0.1_089aa00"
    // Resources
    cpus = 1
    memory = "6.GB"
    disk = "60.GB"
    
    // Error handling
    errorStrategy = "retry"
    maxRetries = "9"
    // Results
  }
}

